body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quantity-item::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.active{
  color: grey;
}

.flama-active {
  background: rgb(34, 34, 34);
  color: #fff;
}
.flama-active:hover {
  color: #fff;
}
input:focus,
.btn:focus {
  outline: none !important;
  border: 2px solid black !important;
  box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.format-link{
  text-decoration: none;
  color: #fff;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}


.modal-style {
  padding: 1000px 50px 0 50px;
}

.main-content{
  min-height: 100vh;
  height: 100%;
}

.img-coderhouse{
  width: 150px;
}

.card__container{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

}

@media screen and (min-width: 768px) {
  .modal-style {
    padding: 0;
  }
  .card__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}


